body {
    background-color: #F2FFFC;
    font-size: 120%;
    font-family: "Crimson Text", "Times New Roman", serif;
    line-height: 1.5;
}
main h1{
    font-size: 60px;
    background-color:darkred;
    color:white; 
    text-align: center;
    padding: 40px;

    margin: 0;
    border-bottom: 10px solid black;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: uppercase;
}

p{
    text-align: justify;
    text-indent: 20px;
    margin: 20px 0;
}

h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
    border-top: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
    clear: both;
}




.navegacao-site{
    background-color: #3C1D3D;
    color: #F2FFFC; 
    text-align: center;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    padding: 25px;
    box-sizing: border-box;
    display: inline-block;
    
}

.navegacao-site, .minha-foto{
    float: right;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

footer{
    background-color: black;
    color: #F2FFFC; 
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav a {
    color: #F2FFFC;
    text-decoration: none;
    text-transform: lowercase;
}

nav h1{
    margin:  0;  
    font-size: 20px;
    padding: 10px;
}

main a {
    color: #851944;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-align: center;
}

ul li{
    
    font-size: 15px;
    text-align: center;
}

main div{
    width: 720px;
    margin: auto;
    line-height: 1.2;
    text-align: center;
}

.icones-sociais li{
    display: inline-block;
    
}

.icones-sociais a{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
}

.twitter{
    background-image: url(../img/twitter.png);
}

.linkedin{
    background-image: url(../img/linkedin.png);
}

.github{
    background-image: url(../img/github.png);
}

main{
    float: left;
    width: 85%;
    padding-bottom: 30px;
}

.container {
	width: 720px;
	margin: auto;
	padding: 30px 0;
    padding-bottom: 80px;
}

strong{
    font-weight: bold;
}


.navegacao-site{
    width: 15%;
    position: relative;
    top:310px;
}

.minha-foto{
    position: absolute;
	top: 0;
	right: 0;
}