body {
    background-color: #F2FFFC;
    font-size: 120%;
    font-family: "Crimson Text", "Times New Roman", serif;
    line-height: 1.5;
}
main h1{
    font-size: 60px;
    background-color:darkred;
    color:white; 
    text-align: center;
    padding: 20px;
    margin: 0;
    border-bottom: 10px solid black;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: uppercase;
}

p{
    text-align: justify;
    text-indent: 20px;
    margin: 20px 0;
}

h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
    border-top: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
    clear: both;
}

blockquote{
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 255px;
    box-sizing: border-box;
    text-align: justify;
    padding: 5px;
}

.fiat{
    float: right;
}

.petrobras{
    float: left;
}
aside{
    background-color: #3C1D3D;
    color: #F2FFFC; 
    text-align: center;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    padding: 25px;
    box-sizing: border-box;
    display: inline-block;
}

aside, .minha-foto{
    float: right;
    width: 15%;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

footer{
    background-color: black;
    color: #F2FFFC; 
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    clear: both;
}

nav a {
    color: #F2FFFC;
    text-decoration: none;
    text-transform: lowercase;
}

nav h1{
    margin:  0;  
    font-size: 20px;
    padding: 10px;
}

main a {
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-align: center;
}

ul li{
    
    font-size: 15px;
    text-align: center;
}

main div{
    width: 720px;
    margin: auto;
    line-height: 1.2;
    text-align: center;
}

.icones-sociais li{
    display: inline-block;
    
}

.icones-sociais a{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
}

.tag {
   text-align: left;
   color: black;
   background-color: #CCC;
  
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.twitter{
    background-image: url(twitter.png);
}

.linkedin{
    background-image: url(linkedin.png);
}

.github{
    background-image: url(github.png);
}

main{
    float: left;
    width: 85%;
}

cite{
    text-align: right;
    float: right;
    display: block;
    font-style: italic;
    padding: 20px;
}
.container {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

strong{
    font-weight: bold;
}

.texto1{
    width: 450px;
    box-sizing: border-box;
    margin-left: -10px;
}

.texto2{
    padding: 10px;
    margin-left: 280px;
}
